@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

.parallax{
	background-image: url("../images/background-1.jpg");
    min-height: 445px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-2{
	background-image: url("../images/background-2.jpg");
    min-height: 445px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3{
	background-image: url("../images/background-3.jpg");
    min-height: 445px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
	height:500px;
	width:100%;
	background-color:#e9eadf;
}

p.title{
	font-size:60px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}